//compileCompressed: $1.min.css

@import "../../assets/scss/variables";


main {
  padding: 10px;
  h1, h2 {text-transform: uppercase;
  font-weight: 900;}


  p {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;

  }

  a {
    color: $secondary-color;
    text-decoration: underline;
  }
  section {
    padding: 0;
  }

  .mini-descr{
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
  }
  .mini-descr, .id-card, .overflow-hider{
    margin: 15px 0;
  }
  .id-card {
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 136px;
    max-width: 481px;
    background-color: $secondary-color;
    border-radius: 61px 10px 10px 61px;

    img {
      height: 100%;
      border-radius: 61px;
    }

    .info {
      width: 60%;
      font-size: 15px;
      .white{color:white;}
    }


  }

  .overflow-hider {
  position: relative;

  }



}




  .orange-button {
    margin: auto;
    font-size: 20px !important;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    width: 280px;
    font-weight: 600;
    a {text-decoration: none;}
  }



@media screen and (min-width: 796px) {

  h1 {
   font-size: 50px;
   margin-left: 60px;
  }
  .desktop-frst-row {
    display: flex;
    align-items: center;
    .id-card, .mini-descr {
      width: 50%;
    }

    .id-card {
      order: -1;
      height: 189px;
      margin-right: 53px;
      border-radius: 84px 14px 14px 84px;
    }
  }

  .text {
    margin: auto;
    max-width: 500px;
  }
}
