//main: style.scss

@media screen and (min-width: 796px) {

  .only-mobile {
    display: none!important;
  }

  .only-desktop {
    display: initial;
  }

  .container {
    margin: auto;
    max-width: 1000px;
  }

  .page-header {
    position: fixed;
    height: 95px;

    .logo {

      img {display: block;} //non perfettamente allineata, risolvere

      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: 50%;
      top:18px;
      transform: translateX(-50%);
    }


    .logo-acronym {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      color: white;
    }

    .page-top-nav {


      ul {
        width: 720px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        li {
          font-size: 22px;
          font-weight: 600;
          width: 120px;
          text-align: center;
        }

        li.active a{
            color: $secondary-color;
        }


        .home-link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          background-color: $primary-color;
          border-radius: 5px;
          border: 1px solid $secondary-color;
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
          a {
            text-transform: uppercase;
          }

        }

        a {
          color: white;
          text-decoration: none;
        }
      }

    }
  }


  main {
    section {
      padding: 30px 10px;
      h1 {
        font-size: 50px;
      }
    }

    .hero-section {
      h1{
        br {
          display: none;
        }

      }

      .background-photo {
        bottom: -20px;
      }
      padding-bottom: 20px;
      .hero-buttons {
        display: flex;
        button {
          width: initial;
        }

        button:first-of-type {
          margin-right: 70px;
        }
      }

      .social {

        width: 180px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        img {
          height: 100%;
        }
      }
    }
    .work-preview {
      .companies {
        margin-bottom: 64px;
        margin-top: 54px;
        img {
          width: calc(100% / 3 - 128px * 2 / 3);
          margin-right: 128px;
        }


        img:nth-of-type(3n), img:last-of-type {
          margin-right: 0;
        }
      }
    }
    .skills {
      height: 600px;
      display: flex;
      align-items: center;

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;


      }
    }

  }
}
