//main: style.scss

@media screen and (min-width: 796px) {

  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: initial;
  }

  .container {
    margin: auto;
    max-width: 1000px;
  }


  main {
    section {
      padding: 30px 10px;
      h1 {
        font-size: 50px;;
      }
    }

    .hero-section {
      align-items: center;
      text-align: center;

      h1 {
        margin-top: 30px;

        br {
          display: none;
        }

      }

      .mobile-right-align {
        align-items: center;
        align-self: center;
        width: 100%;

        h2 {
          font-size: 25px;
          line-height: 25px;
          font-weight: 700;
          margin-bottom: 4px;
        }

        p{
          font-size: 18px;
          line-height: 18px;
          font-weight: 400;
        }

      }

      .hero-buttons {
        display: flex;
        button {
          width: initial;
        }

        button:first-of-type {
          margin-right: 70px;
        }
      }

    }
    .work-preview {
      .companies {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        img {
          width: calc(80% / 3);
          margin-right: 10%;
        }

        img:nth-of-type(3n), img:last-of-type {
          margin-right: 0;
        }

      }
    }
  }
  }
