//main: style.scss

@media screen and (min-width: 481px) {

  main {
    .hero-section {
      align-items: center;
      text-align: center;

      .container {
        position: relative;
        border: 1px solid red;
      }

      h1 {
        margin-top: 30px;



      }

      // .background-photo{
      //   bottom: -2px;
      //   left: -68px;
      //   height: 100%;
      // }

      .mobile-right-align {
        width: 50%;
        align-self: center;

        h2 {
          font-size: 25px;
          line-height: 25px;
          font-weight: 700;
          margin-bottom: 4px;
        }

        p{
          font-size: 18px;
          line-height: 18px;
          font-weight: 400;
        }

      }
    }

    .work-preview {
      .companies {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        img {
          width: calc(50% - 128px / 2);
          margin-right: 128px;
        }
      }
    }

    .skills {
      .skills-cards {
        max-width: 500px;
        margin: auto;
        .card {
          width: calc(100% / 3 - 25px * 2 / 3);
        }
      }

      .soft-skills {
        width: calc(100% / 3 * 2);
        max-width: (500px / 3 *2);
        .card {
          width: calc(50% - 25px);
      }

    }

    .contact-me {
      button br {
        display: none;
      }
    }
    }
}

}

@media screen and (min-width: 481px) and (max-width: 795px) {
  main {

    .work-preview {
        img:nth-of-type(2n), img:last-of-type {
          margin-right: 0;
        }
      }
    }

}

@media screen and (min-width: 671px) {
  main {
    .hero-section {

      .background-photo{
        bottom: 0;
        left: -68px;
        height: 100%;
      }
    }
}

}
