// main: style.scss

@mixin normal-font() {
  font-family: "Titillium-Web";
  font-weight: 400;
}

@mixin semibold-font() {
  font-family: "Titillium-Web";
  font-weight: 600;
}

@mixin Bold-font() {
  font-family: "Titillium-Web";
  font-weight: 700;
}

@mixin black-font() {
  font-family: "Titillium-Web";
  font-weight: 900;
}
