//main: style.scss

.html .score-bar-level {
  width: 75%;
  background-color: #E44D26;
}

.css .score-bar-level {
  width: 70%;
  background-color: #2965F1;
}

.coding .score-bar-level {
  width: 30%;
  background-color: #57F2AA;
}

.design .score-bar-level {
  width: 50%;
  background-color: #007AA3;
}

.photoshop .score-bar-level {
  width: 60%;
  background-color: #03A9F4;
}

.excel .score-bar-level {
  width: 70%;
  background-color: #1E7145;
}

.problem-solving .score-bar-level {
  width: 90%;
  background-color: #FF4F77;
}

.creativity .score-bar-level {
  width: 85%;
  background-color: #D64A34;
}

.team-work .score-bar-level {
  width: 80%;
  background-color: #FDD559;
}

.critical-thinking .score-bar-level {
  width: 80%;
  background-color: #BC7C63;
}
