// main: style.scss

@font-face {
  font-family: "Titillium-Web";
  src: url("../fonts/TitilliumWeb-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Titillium-Web";
  src: url("../fonts/TitilliumWeb-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Titillium-Web";
  src: url("../fonts/TitilliumWeb-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Titillium-Web";
  src: url("../fonts/TitilliumWeb-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

$primary-color: #020659;
$secondary-color: #F25C05;
