//compileNested: ../css/$1.css
@import "variables";
@import "mixins";
@import "buttons";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium-Web", sans-serif;
  color: $primary-color;
}

@import "header";


main {

  section {
    padding: 10px 25px 2px 25px;
    h1 {
      @extend .section-header;
    }
  }
  .hero-section {
    padding: 10px 25px 2px 25px;
    height: 400px;
    background-color: $secondary-color;
    z-index: -2;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
      font-size: 40px !important;
      line-height: 40px !important;
    }

    .mobile-right-align {
      display: flex;
      flex-direction: column;
      align-items: flex-end;


      * {
        width: 226px;
        color: white;
      }

      h2 {
        font-size: 25px;
        line-height: 25px;
        font-weight: 700;
        margin-bottom: 4px;
      }

      p{
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
      }

    }

    // .hero-buttons {
    //   border: 1px solid red;
    //   margin-bottom: 0px;
    // }
    .hero-buttons button {
      margin: 5px auto 0px auto;
      font-size: 25px;
      line-height: 25px;
      width: 177px;
    }

    .blue-button {
      font-size: 20px!important;
      text-transform: uppercase;
    }


    img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 239px;
      z-index: -1;
    }
  }

  .work-preview {
    padding-top: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;


    h1, img {
      margin-bottom: 20px;
    }
    img {
      width: 208px;
    }

    button {
      font-size: 20px !important;
      text-transform: uppercase;
      width: 270px;
      font-weight: 600;
    }
  }

  .skills {
    background-color: $primary-color;
    color: white;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .skills-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        text-align: center;
        width: calc(50% - 25px);
        margin-top: 25px;

        h2 {
          text-transform: uppercase;
        }

        .score-bar, .score-bar-level {
          height: 8px;
          border: none;
          border-radius: 4px;
        }

        .score-bar {
          width: 100%;
          background-color: white;
        }

      }
      img {
        width: 80px;
      }

      @import "skills-score-levels"
    }

  }

}
