//compileNested: ../css/$1.css
@import "variables";
@import "mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include normal-font;
  color: $primary-color;
}

@import "header";


main {
  .hero-section {
    padding: 0 25px;
    height: 400px;
    background-color: $secondary-color;
    position: relative;

    h1 {
      text-transform: uppercase;
      @include black-font;
      font-size: 40px;
      line-height: 40px;
    }

    h1, h2, p, button {
      border: 1px solid red;
    }
    h2, p, button {
      color: white;
    }
    h2 {
      font-size: 25px;
      @include Bold-font;
    }

    p{
      font-size: 18;
      @include semibold-font;
    }

    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
