//compileNested: ../css/$1.css

@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titilium-Web";
}


.page-header {
  background-color: $primary-color;
  
}
