////compileCompressed: $1.min.css

@import "../../assets/scss/variables";
body{

}

header {
  nav {
    position: relative;
  }
}
ul {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  width: 100%;
  align-items: center;
  list-style-type: none;
  justify-content: center;



  a {
    color: $primary-color;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
  }

  li:first-of-type a {
    text-transform: uppercase;
    color: $secondary-color;
  }
}

.logo-extention {
  position: absolute;
  bottom: -63px;
  height: 63px !important;
}
