@fontface {
  font-family: "Titilium-Web";
  src: url("assets/fonts/titillium-webregular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@fontface {
  font-family: "Titilium-Web";
  src: url("assets/fonts/titillium-web-600.woff") format("woff");
  font-style: normal;
  font-weight: 600; }

@fontface {
  font-family: "Titilium-Web";
  src: url("assets/fonts/titillium-web-700.woff") format("woff");
  font-style: normal;
  font-weight: 700; }

@fontface {
  font-family: "Titilium-Web";
  src: url("assets/fonts/titillium-web-900.woff") format("woff");
  font-style: normal;
  font-weight: 900; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Titilium-Web"; }

.page-header {
  height: 80px;
  background-color: #020659;
  padding: 0 25px;
  display: flex;
  align-items: center; }
  .page-header nav {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .page-header nav .logo-social {
      display: flex; }
    .page-header nav img {
      height: 24px;
      margin-right: 10px; }
    .page-header nav .logo {
      margin-right: 22px; }
    .page-header nav .menu-icon {
      height: 28px; }
