@font-face {
  font-family: "Titillium-Web";
  src: url("../fonts/TitilliumWeb-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Titillium-Web";
  src: url("../fonts/TitilliumWeb-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Titillium-Web";
  src: url("../fonts/TitilliumWeb-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Titillium-Web";
  src: url("../fonts/TitilliumWeb-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900; }

.section-header, main section h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  line-height: 35px; }

.button, .blue-button, .orange-button {
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: 700;
  padding: 7px 9px;
  display: block;
  font-size: 25px; }

.blue-button {
  background-color: #020659; }

.orange-button {
  border: 1px solid white !important;
  background-color: #F25C05; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Titillium-Web", sans-serif;
  color: #020659; }

.page-header {
  height: 80px;
  background-color: #020659;
  padding: 0 25px;
  display: flex;
  align-items: center; }
  .page-header nav {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .page-header nav .logo-social {
      display: flex;
      align-items: center; }
    .page-header nav img {
      height: 24px;
      margin-right: 10px; }
    .page-header nav .logo {
      margin-right: 22px; }
    .page-header nav .menu-icon {
      height: 28px; }

main section {
  padding: 10px 25px 2px 25px; }

main .hero-section {
  padding: 10px 25px 2px 25px;
  height: 400px;
  background-color: #F25C05;
  z-index: -2;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; }
  main .hero-section h1 {
    font-size: 40px !important;
    line-height: 40px !important; }
  main .hero-section .mobile-right-align {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    main .hero-section .mobile-right-align * {
      width: 226px;
      color: white; }
    main .hero-section .mobile-right-align h2 {
      font-size: 25px;
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 4px; }
    main .hero-section .mobile-right-align p {
      font-size: 18px;
      line-height: 18px;
      font-weight: 400; }
  main .hero-section .hero-buttons button {
    margin: 5px auto 0px auto;
    font-size: 25px;
    line-height: 25px;
    width: 177px; }
  main .hero-section .blue-button {
    font-size: 20px !important;
    text-transform: uppercase; }
  main .hero-section img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 239px;
    z-index: -1; }

main .work-preview {
  padding-top: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .work-preview h1, main .work-preview img {
    margin-bottom: 20px; }
  main .work-preview img {
    width: 208px; }
  main .work-preview button {
    font-size: 20px !important;
    text-transform: uppercase;
    width: 270px;
    font-weight: 600; }
