//compileCompressed: $1.min.css

@import "../../assets/scss/variables";
body {
  background-color: $secondary-color;
  .contact-me{

    h1 {
      margin-top: 20px;
      font-size: 35px !important;
      color: $primary-color !important;
    }
  }


  .phone-contact {
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;

    img {
      height: 45px;
    }





    }
}
