//compileCompressed: $1.min.css

main {
  padding: 30px;
  h1 {
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }
}
